@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap')

*
  padding: 0
  margin: 0
  font-family: "Inter", sans-serif
  outline: none

html
  --primaryColor: #ee384e
  --secondaryColor: #76A5EA

  --highlight-color: #D58D49
  --highlight-bgc: rgba(223, 168, 116, 0.20)

  --bgc: #fff
  --text-color: #424750
  --notes-bgc: #F5F5F5
  --notes-item-bgc: #fff
  --notes-text-color: #000
  --key-cups: #5030E533
  --tag-active-bgc: rgb(40 40 40)

  --scrollbar-track-bgc: rgb(125 125 125)
  --scrollbar-thumb-bgc: rgb(40 40 40)

  --fieldset-border: #aaa

html[theme="dark"]
  --secondaryColor: #95A4FC

  --bgc: #1C1C1C
  --text-color: #ebebeb
  --notes-bgc: #FFFFFF0D
  --notes-item-bgc: #FFFFFF0D
  --notes-text-color: #aaa
  --key-cups: #ebebeb
  --tag-active-bgc: #FFFFFF0D

  --scrollbar-track-bgc: #FFFFFF1A
  --scrollbar-thumb-bgc: #C6C7F8

  --fieldset-border: #FFFFFF0D

body
  background-color: var(--bgc)
  transition: all 0.3s ease-in-out

li
  list-style: none

.pageTitle
  margin-top: 80px
  font-size: 48px
  user-select: none
  color: var(--text-color)

.theme-button
  display: inline-block
  cursor: pointer
